.card {
  border: 1px solid rgba(100, 100, 100, 1.0);
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 95%;
  padding: 1em;
}